@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

* {
  padding: 0;
  margin: 0;
}

/* all fonts */
.miama_fonts {
  font-family: "Miama", sans-serif;
}

.inter_font {
  font-family: "Inter", sans-serif;
  color: white;
}

/* Themes */
.dark_theme {
  background-color: black;
}

/* header css */
header {
  background: linear-gradient(360deg,#ffffff00, #111111 25%, #111111 50%, #111111 75%, #77777700 100%);
}

.header_width {
  width: 75%;
  margin: 0px auto;
}

/* navbar */
.gym_navbar {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 0rem;
  align-items: center;
}

.brand_logo {
  font-size: 2.25rem;
  font-weight: 800;
  font-style: italic;
}

.brand_logo a {
  color: #e6533c;
  text-decoration: none;
}

.fa-bars{
    font-size: 1.5rem;
    visibility: hidden;
}

.gym_nav_items {
  border: 1px solid #ffffff1a;
  border-radius: 2.5rem;
  padding: .25rem;
  padding-right: 1.5rem;
  display: block;
}

.gym_nav_items ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.gym_nav_items ul li {
  list-style: none;
  cursor: pointer;
}

.gym_nav_items ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.125rem;
}

.gym_home_btn{
    padding: .5rem 1.25rem;
    background-color: #e6533c;
    border-radius: 3rem;
}

/* gym-banner_section */
.gym-banner_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_content_side{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.banner_title{
    font-size: 4.875rem;
    line-height: 5rem;
}

.banner_title span{
    font-weight: 100;
    font-size: 6.5rem;
}

.banner_description{
    font-size: 1rem;
    line-height: 1.25rem;
    color: #ffffff50;
}

.banner_btn{
    display: flex;
    gap: 0.875rem;
}

.banner_img_side{
    position: relative;
}

.banner_img img{
    width: 100%;
}

.workout_video{
    position: absolute;
    top: 22%;
    left: 60%;
    z-index: 1;
}

.workout_video_tutorials{
    position: absolute;
    z-index: 1;
    top: 75%;
    right: 85%;
}

.free_video,
.video_350{
    padding: 1.5rem 1.5rem;
    background-color: #ffffff50;
    width: 100%;
    border-radius: .75rem;
}

.video_350{
    display: flex;
    align-items: center;
    gap: .75rem;
}

.fa-circle-play{
    font-size: 2rem;
    color: #e6533c;
    background-color: #ffffff;
    border-radius: 55%;
}

.free_video h1{
    font-size: 2.5rem;
}

.free_video p{
    font-size: 0.8125rem;
    color: #ffffff65;
}

.workout_tutorial h1{
    font-size: 1.5rem;
}

.workout_tutorial p{
    font-size: 1rem;
    color: #ffffff65;
}

.join_club_btn,
.download_btn{
    padding: 1rem 2.5rem;
    background-color: #e6533c;
    border: 0;
    font-size: 1.125rem;
    color: #ffffff;
    border-radius: 2.5rem;
    text-align: center;
}

.download_btn{
    background-color: transparent;
    border: 1px solid #ffffff;
}

/* change habit section */

.change_habit_section{
    width: 75%;
    margin: 6.25rem auto;
}

.habit_title{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: .875rem;
}

.habit_description{
    font-size: 1rem;
    text-align: center;
    color: #ffffff50;
    margin-bottom: 4rem;
}

.card_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.habit_card{
    text-align: center;
}

.habit_img{
    width: 100%;
}

.habit_img img{
    width: 100%;
    border: 5px solid #ffffff15;
    border-radius: 50%;
}

.card_title{
    font-size: 1.125rem;
    margin: 1.875rem 0rem .4rem;
}

.card_description{
    font-size: .875rem;
    color: #ffffff50;
}


/* responsive design */

/* mobile */
@media screen and (max-width: 576px) {

    .no_break{
        display: none;
    }

    .header_width{
        width:90%;
    }
    .gym_nav_items{
        display: none;
    }

    .brand_logo{
        font-size: 2rem;
    }

    .fa-bars{
        visibility: visible;
    }

    .gym-banner_container{
        flex-direction: column;
        gap: 3rem;
    }

    .banner_title{
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .banner_title span{
        font-size: 3rem;
    }

    .join_club_btn,
    .download_btn{
        padding: 1rem 1.5rem;
    }

    .free_video{
        width: 80%;
    }

    .video_350{
        width: 90%;
    }

    .workout_video{
        top: 5%;
        left: 57%;
    }
    
    .workout_video_tutorials{
        top: 45%;
        right: 55%;
    }

    .free_video h1,
    .workout_tutorial h1{
        font-size: 1.5rem;
    }
    
    .free_video p,
    .workout_tutorial p{
        font-size: 0.75rem;
    }
}
/* tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .header_width{
        width:100%;
    }

    .gym_navbar{
        flex-direction: column;
    }

    .brand_logo{
        font-size: 2rem;
    }
    .gym-banner_container{
        flex-direction: column;
        gap: 3rem;
    }

    .banner_title{
        font-size: 4rem;
        line-height: 4.25rem;
    }

    .banner_title span{
        font-size: 5rem;
    }

    .join_club_btn,
    .download_btn{
        padding: 1rem 2.5rem;
    }

    .free_video{
        width: 100%;
    }

    .video_350{
        width: 100%;
    }

    .free_video h1,
    .workout_tutorial h1{
        font-size: 2rem;
    }
    
    .free_video p,
    .workout_tutorial p{
        font-size: 1rem;
    }
}